body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;

  height: 500px;
  margin: 0;
}

.whl {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bdr {
  text-align: center;
}

.Box {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.btn {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
  justify-content: center;
}

.btn button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn button:hover {
  background-color: aqua;
}
.backBTN {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 50px;
  margin-left: 200px;
  border: none;
  border-radius: 15px;
  background-color: #f5c3c9;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 16px;
}

.backBTN:hover {
  background-color: #b8d4dc;
}
